<header class="flex h-11 px-4 items-center border-b border-black border-opacity-20">
    <nav class="flex justify-between w-full max-w-4xl mx-auto">
        <ul class="flex gap-4">
            {{ range slice .Site.Home | append .Site.Sections }}
            {{ partial "header-nav-li.html" . }}
            {{ end }}
            {{ with .Site.GetPage "/about" }}
            {{ partial "header-nav-li.html" . }}
            {{ end }}
            {{ with .Site.GetPage "/tags" }}
            {{ partial "header-nav-li.html" . }}
            {{ end }}
        </ul>
        <ul class="flex gap-4">
            {{ with .Site.Params.github }}
            <li class="h-6 w-6">
                <a href="{{ . }}">
                    {{ partial "github-svg.html" }}
                </a>
            </li>
            {{ end }}
        </ul>
    </nav>
</header>