<div class="border-b dark:border-white/20 py-2">
    <h2 class="text-2xl font-bold py-2">
        <a href="{{ .Permalink}}">
            {{ .Title }}
        </a>
    </h2>
    <div class="flex flex-wrap items-center">
        <span class="mr-2 opacity-80">{{ .Date.Format "2006年1月2日" }}</span>
        {{ partial "post-tags.html" . }}
    </div>
    <p class="py-8">
        {{ .Summary }}
    </p>
    <div class="mb-4">
        <a class="opacity-60 hover:opacity-100 hover:underline" href="{{ .Permalink }}">繼續閱讀…</a>
    </div>
</div>