<div class="border-b py-2">
    <h2 class="text-2xl font-bold py-2">
        <a href="{{ .Permalink}}">
            {{ .Title }}
        </a>
    </h2>
    <div class="flex flex-wrap items-center opacity-80">
        <span class="mr-2">{{ .Date.Format "2006年1月2日" }}</span>
        <img class="w-6 h-6 inline-block mr-1" src="{{.Site.BaseURL}}imgs/tag.svg" alt="Tags">
        {{ partial "post-tags.html" . }}
    </div>
    <p class="py-8">
        {{ .Summary }}
    </p>
    <div class="mb-4">
        <a class="opacity-60 hover:opacity-100" href="{{ .Permalink }}">閱讀更多</a>
    </div>
</div>